
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  margin: 3.5rem;
  padding: 0;
  font-size: 15px;
  background-color: hsl(0, 0%, 100%);
}

img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
  margin-left: 1rem;
}

h2,
h4 {
  color: hsl(14, 45%, 36%);
  font-family: Outfit;
 
}

h2,
h1 {
  margin: 2rem 0;
}

h1 {
  font-size: 40px;
  font-family: Young Serif;
  font-weight: 400;
}

h2 {
  margin-left: 1.5rem;
  font-size: 40px;
}

.preparation-time {
  margin: 2rem 0;
  padding: 2rem;
  background-color: rgb(255, 242, 244);
  border-radius: 10px;
}

.preparation-time h3 {
  color: hsl(332, 51%, 32%);
}

ol,
ul {
  margin: 0 2rem;
}

li {
  margin: 1rem;
  padding: 0 0 0 2rem;
}

ol li {
  padding: 0 0 0 0.5rem;
}

li::marker {
  color: hsl(14, 45%, 36%);
}

.nutrition-info {
  margin: 1rem 0 1rem 3rem;
}

.nutrition-info span {
  padding-left: 50%;
  font-weight: bolder;
  color: hsl(14, 45%, 36%);
}

.second-info {
  margin-left: 3%;
}

.third-info {
  margin-left: 1.8%;
}

.fourth-info {
  margin-left: 6%;
}

hr {
  opacity: 0.5;
}

@media (max-width: 668px) {
  body {
    margin: 0;
  }

  img {
    margin: 0;
    border-radius: 0;
  }

  main {
    margin: 1rem;
  }

  .preparation-time ul {
    margin-left: 0;
  }

  h2 {
    font-size: 30px;
  }

  .nutrition {
    margin: 1rem;
  }

  .nutrition-info {
    margin: 1rem 0 1rem 1rem;
  }

  .nutrition-info span {
    padding-left: 20%;
  }

  .second-info {
    margin-left: 7%;
  }

  .third-info {
    margin-left: 5%;
  }

  .fourth-info {
    margin-left: 15%;
  }
}
